* {
  all: unset;
  display: revert;
  cursor: revert;
  box-sizing: border-box;
}

:root {
  --lys: #033e3b;
  --mork: #032a27;
  --sort: #1c1c1c;
  --gul: #ffab1c;
}

/* typografi */
h1,
h2,
h3,
p {
  font-family: "work sans";
  margin-bottom: 10px;
}

h1 {
  font-weight: 700;
  color: var(--gul);

  font-size: clamp(1.6rem, 2.5vw, 2rem);
  text-align: left;
  text-transform: uppercase;
}
h2 {
  font-weight: 500;
  color: white;
  font-size: 1.5rem;
  font-style: italic;
}
h3 {
  font-weight: 500;
  color: white;
  font-size: 1.4rem;
}

p {
  font-weight: 300;
  color: white;
  font-size: 1.1rem;
  text-align: justify;
  line-height: 1.4;
  hyphens: auto;
}

.ref {
  font-weight: 400;
  padding-block: 20px 20px;
}

p a {
  color: var(--gul);
  text-decoration: underline;
}

/* img */
img {
  height: auto;
  max-width: 100%;
}

/* logo */
.index2 img {
  height: auto;
  width: 330px;
}
.nav {
  padding-block: 10px 10px;
  background-image: url(../svg/tingel.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}
/* link elementer */

.nav2 ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav2 li {
  font-family: "work sans";
  font-weight: 500;
  text-transform: uppercase;
  color: var(--lys);
  font-size: 1.2rem;
  background-color: var(--gul);
  padding: 1px;
}
.nav2 li:hover {
  color: var(--gul);
  background-color: transparent;
}

.menuPunkter {
  display: none;
}

/* body */
body {
  background-color: var(--lys);
}

header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer {
  font-family: "work sans";
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--gul);
  background-color: var(--sort);
  text-align: center;
}

section {
  padding: 15px;
  margin-block-end: 50px;
}

/* container */
.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media (min-width: 800px) {
  /* nav */

  /* lav header om til grid desktop */
  header {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 5px;
    background: var(--sort);
    box-shadow: var(--mork) 0px 5px 5px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  /* laver index logoet mindre */
  .index2 img {
    width: 120px;
  }

  .nav {
    padding-block: 0;
    background-image: none;
  }
  /* passer nav2 så den ligger i midten */
  .nav2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .nav2 ul {
    justify-content: flex-start;
    margin-inline-start: 20px;
  }

  .nav2 li {
    color: var(--gul);
    background-color: transparent;
    border: ridge var(--gul) 2px;
    transition: 0.3s;
  }

  .nav2 li:hover {
    color: var(--sort);
    background-color: var(--gul);
    border: unset;
    transform: translateX(-5px) translateY(-5px);
    box-shadow: var(--gul) 1px 1px 0px, var(--gul) 2px 2px 0px, var(--gul) 3px 3px 0px,
      var(--gul) 4px 4px 0px, var(--gul) 5px 5px 0px;
  }
  .menuPunkter {
    display: unset;
    position: fixed;
    top: 7%;
    width: 100vw;
    background-color: var(--sort);
    z-index: 3;
  }
  .menuPunkter ul {
    display: flex;
    justify-content: space-around;
  }
  .menuPunkter li {
    font-family: "work sans";
    font-weight: 500;
    text-transform: uppercase;
    color: var(--gul);
    font-size: 1.2rem;
    padding: 1px;
    transition: 0.3s;
    list-style: none;
  }

  .menuPunkter li:hover {
    transform: translateX(10%);
  }
  h1 {
    display: table;
    padding-inline: 5px;
    background-color: var(--lys);
  }
  h3:first-of-type {
    margin-block-start: -6px;
  }

  .col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    gap: 20px;
    background-color: var(--mork);
    border: solid var(--lys) 5px;
    padding: 20px;
  }
  .intro {
    grid-column: 1 / span 2;
    border-bottom: ridge var(--gul) 2px;
  }
  /* putter skygger på billeder */
  main img {
    transition: 0.3s;
  }
  main img:hover {
    transform: translateX(-10px) translateY(-10px);
    box-shadow: var(--gul) 1px 1px 0px, var(--gul) 2px 2px 0px, var(--gul) 3px 3px 0px,
      var(--gul) 4px 4px 0px, var(--gul) 5px 5px 0px, var(--gul) 6px 6px 0px, var(--gul) 7px 7px 0px,
      var(--gul) 8px 8px 0px, var(--gul) 9px 9px 0px, var(--gul) 10px 10px 0px;
  }
}

@media (min-width: 1200px) {
  /* main */
  main {
    /* laver afstand fra nav til main */
    margin-block-start: 150px;
  }

  /* putter tingel på body */
  body {
    background: url(../svg/tingel4.svg), var(--lys);
    background-size: cover, 100%;
    background-attachment: fixed;
  }
}

@media (min-width: 1500px) {
  /* smider menuen ud til siden */
  .menuPunkter {
    position: fixed;
    display: block;
    top: 40%;
    left: 10px;
    gap: 10px;
    background-color: unset;
    width: unset;
  }
  .menuPunkter li:hover {
    list-style: circle;
  }

  .menuPunkter ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
