* {
  all: unset;
  display: revert;
  cursor: revert;
  box-sizing: border-box;
}

/* typografi */
h1,
h2,
p {
  font-family: "work sans";
  margin-bottom: 10px;
}

h1 {
  font-weight: 700;
  color: #ffab1c;

  font-size: 2rem;
  text-align: left;
  text-transform: uppercase;
}
h2 {
  font-weight: 500;
  color: white;
  font-size: 1.5rem;
}
p {
  font-weight: 300;
  color: white;
  font-size: 1.2rem;
  text-align: justify;
  line-height: 1.4;
}

/* img */
img {
  height: auto;
  max-width: 100%;
}

/* nav index */

.index {
  list-style: none;
}
/* logo */
a img {
  height: auto;
  width: 330px;
}
.nav {
  padding-block: 10px 10px;
  background-image: url(../svg/tingel.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}
/* link elementer */

.nav2 ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav2 li {
  font-family: "work sans";
  font-weight: 500;
  text-transform: uppercase;
  color: #033e3b;
  font-size: 1.2rem;
  background-color: #ffab1c;
  padding: 1px;
}
.nav2 li:hover {
  color: #ffab1c;
  background-color: transparent;
}

/* body */
body {
  background: linear-gradient(#03423e 0%, #032a27 100%);
}

header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer {
  font-family: "work sans";
  font-weight: 400;
  font-size: 1.2rem;
  color: #ffab1c;
  background-color: #033e3b;
  text-align: center;
}

section {
  padding: 15px;
  margin-block-end: 50px;
}

/* container */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  h1 {
    margin-inline-start: 5px;
    display: table;
    padding-inline: 2px;
    background-color: #033e3b;
  }

  .col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    background-color: #032a27;
    border: solid #033e3b 5px;
    padding: 20px;
  }

  .col2 .element_2 {
    order: -1;
  }
}

@media (min-width: 1000px) {
  /* nav */

  /* lav header om til grid desktop */
  header {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 10px;
    background: linear-gradient(rgb(2, 45, 42) 0%, rgb(2, 36, 33) 100%);
  }
  /* laver index logoet mindre */
  a img {
    width: 120px;
  }

  .nav {
    padding-block: 0;
    background-image: none;
  }
  /* passer nav2 så den ligger i midten */
  .nav2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .nav2 ul {
    justify-content: flex-start;
    margin-inline-start: 20px;
  }

  .nav2 li {
    color: #ffab1c;
    background-color: transparent;
    border: ridge #ffab1c 2px;
  }

  .nav2 li:hover {
    color: #033e3b;
    background-color: #ffab1c;
    border: unset;
  }
  /*  */

  /* main */
  main {
    /* laver afstand fra nav til main */
    margin-block-start: 150px;
  }

  /* putter tingel på body */
  body {
    background: url(../svg/tingel4.svg), linear-gradient(#03423e 0%, #032a27 100%);
    background-repeat: repeat-y;
    background-size: cover, 100%;
  }

  /* putter skygger på billeder */
  main img {
    box-shadow: #ffab1c 10px 10px 0px;
  }

  .modsat img {
    box-shadow: #ffab1c -10px 10px 0px;
  }
}
