* {
  all: unset;
  display: revert;
  cursor: revert;
  box-sizing: border-box;
}
/* splash */
/* header */
.index {
  background-image: url(../svg/tingel3.svg);
  background-repeat: no-repeat;
  background-position: 70% 54%;
  background-size: 190%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.splash {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
/* typografi */
.overskrift {
  height: 30vw;
  width: auto;
  margin-inline-start: -10%;
}
h2 {
  font-family: "work sans";

  font-weight: 300;
  color: white;
  border-top: ridge var(--gul) 2px;
  border-bottom: ridge var(--gul) 2px;
  background-color: var(--lys);
  font-style: normal;
  font-size: clamp(1.2rem, 3vw, 2.5rem);
  text-align: center;
  max-width: unset;
}

/* body */
body {
  background: linear-gradient(rgba(3, 66, 62, 1) 0%, rgb(4, 61, 56) 100%);
  max-width: unset;
}

/* nav */
.indexnav {
  grid-row: 3;
  margin-inline-start: 30px;
}
.indexnav2 {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

li {
  font-family: "work sans";
  font-weight: 500;
  text-transform: uppercase;
  color: var(--lys);
  font-size: 1.2rem;
  background-color: var(--gul);
  border: solid var(--lys) 2px;
  padding: 1px;
}
li:hover {
  color: var(--gul);
  background-color: var(--lys);
}

@media (min-width: 1200px) {
  body {
    background: none;
    background-color: white;
  }
  .index {
    background-image: url(../svg/tingel2.svg),
      linear-gradient(rgba(3, 66, 62, 1) 0%, rgb(4, 61, 56) 100%);
    background-size: 100%;
    background-position: 20% 50%;
    clip-path: polygon(0 0, 100% 0, 100% 86%, 0 95%);
  }

  .overskrift {
    height: 360px;
    margin-inline-start: -8.3%;
  }
  h2 {
    color: white;
    background-color: unset;
    border: none;
    font-weight: 300;
    font-size: 28px;
    width: 500px;
    margin-inline-start: 41.6%;
  }
  .indexnav2 {
    margin-inline-start: 9%;
  }

  li {
    color: var(--gul);
    background-color: transparent;
    border: ridge var(--gul) 2px;
    transition: 0.3s;
  }
  li:hover {
    color: var(--lys);
    background-color: var(--gul);
    border: unset;
    transform: translateX(-5px) translateY(-5px);
    box-shadow: var(--gul) 1px 1px 0px, var(--gul) 2px 2px 0px, var(--gul) 3px 3px 0px,
      var(--gul) 4px 4px 0px, var(--gul) 5px 5px 0px;
  }
}
