/* splash */
/* header */
.index {
  background-image: url(../svg/tingel3.svg);
  background-repeat: no-repeat;
  background-position: 70% 54%;
  background-size: 190%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.splash {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
/* typografi */
.overskrift {
  height: 30vw;
  width: auto;
  margin-inline-start: -10%;
}
h2 {
  font-family: "work sans";

  font-weight: 300;
  color: white;
  border-top: ridge #ffab1c 2px;
  border-bottom: ridge #ffab1c 2px;
  background-color: #033e3b;

  font-size: clamp(1.2rem, 3vw, 2.5rem);
  text-align: center;
  max-width: unset;
}

/* body */
body {
  background: linear-gradient(rgba(3, 66, 62, 1) 0%, rgb(4, 61, 56) 100%);
  max-width: unset;
}

/* nav */
.indexnav {
  grid-row: 3;
  margin-inline-start: 30px;
}
.indexnav2 {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

li {
  font-family: "work sans";
  font-weight: 500;
  text-transform: uppercase;
  color: #033e3b;
  font-size: 1.2rem;
  background-color: #ffab1c;
  border: solid #033e3b 2px;
  padding: 1px;
}
li:hover {
  color: #ffab1c;
  background-color: #033e3b;
}

@media (min-width: 1200px) {
  body {
    background: none;
    background-color: white;
  }
  .index {
    background-image: url(../svg/tingel2.svg),
      linear-gradient(rgba(3, 66, 62, 1) 0%, rgb(4, 61, 56) 100%);
    background-size: 100%;
    background-position: 20% 50%;
    clip-path: polygon(0 0, 100% 0, 100% 86%, 0 95%);
  }

  .overskrift {
    height: 360px;
    margin-inline-start: -8.3%;
  }
  h2 {
    color: white;
    background-color: unset;
    border: none;
    font-weight: 300;
    font-size: 28px;
    width: 500px;
    margin-inline-start: 41.6%;
  }
  .indexnav2 {
    margin-inline-start: 9%;
  }

  li:hover {
    border: ridge #ffab1c 2px;
  }
}
